module.exports = {
  service: 'stats',
  fastify: { active: false, port: 0 },
  redis: { active: false },
  mongodb: {
    active: true,
    databases: [
      {
        name: 'stats',
        db: 'stats',
        options: {}
      }
    ]
  }
}
